@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;
}

:root {
  --gradient: 180deg, #ebf2fc 0%, #eefbf9 100%;
  --radius-sm: 0.625rem; /* 10px */
  --radius-md: 0.75rem; /* 12px */
  --radius-lg: 1.25rem; /* 20px */
  --background: hsl(200, 60%, 99%);
  --background-toggle-thumb: hsl(200, 60%, 99%);
  --background-toggle-button: hsl(0, 0%, 78%);
  --background-button: hsl(0, 0%, 93%);
  --background-filter-button: hsl(200, 60%, 99%);
  --background-accent: hsl(3, 77%, 44%);
  --foreground-primary: hsl(227, 75%, 14%);
  --foreground-secondary: hsl(226, 11%, 37%);
  --border: hsl(217, 61%, 90%);
  --text-filter-button: hsl(200, 60%, 99%);
}

.dark {
  --gradient: 180deg, #04091b 0%, #091540 100%;
  --background: hsl(226, 25%, 17%);
  --background-toggle-button: hsl(0226, 11%, 37%);
  --foreground-primary: hsl(200, 60%, 99%);
  --foreground-secondary: hsl(0, 0%, 78%);
  --background-button: hsl(225, 23%, 24%);
  --background-filter-button: hsl(225, 23%, 24%);
  --text-filter-button: hsl(227, 75%, 14%);
  --background-accent: hsl(3, 86%, 64%);
  --border: hsl(226, 11%, 37%);
}
.text-lg {
  /* text-preset-1 */
  font-size: 2.125rem;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 700;
}

.text-md--bold {
  /* text-preset-2 */
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-weight: 700;
}

.text-md {
  /* text-preset-3 */
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.3px;
  font-weight: 400;
}

.text-md--medium {
  /* text-preset-4 */
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.3px;
  font-weight: 500;
}

.text-base {
  /* text-preset-5 */
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.text-base--medium {
  /* text-preset-6 */
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
  font-weight: 500;
}
